<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Foro</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Inicio</a>
          </li>
          <li *ngIf="!isLoggedIn" class="nav-item">
            <a class="nav-link" routerLink="/login">Iniciar sesión</a>
          </li>
          <li *ngIf="!isLoggedIn" class="nav-item">
            <a class="nav-link" routerLink="/register">Registrarse</a>
          </li>
          <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link" routerLink="/profile">Mi perfil</a>
          </li>
          <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link" (click)="logout()">Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  